html {
    font-size: 16px;
}

header {
    position: absolute;
    left: 0;
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
    justify-content: space-between;
}

header div {
    display: flex;
    align-items: center;
}

header div img {
    transform: scale(0.5);    
}

#searchbar {
    width: 690px;
    height: 42px;
    outline: none;
    border: none;
    border-radius: 25px;
    box-shadow: -0.5px 1px 6px rgb(200, 200, 200);
    padding-right: 90px;
    padding-left: 20px;
    font-size: 1rem;
}

#searchbar-icons {
    position: relative;
    right: 16%;
}

#pipe {
    height: 25px;
    border-left: solid lightgray 1px;
}

#header-top {
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
}

nav ul {
    display: flex;
    list-style: none;
}

button {
    height: 30px;
    width: auto;
    padding: 0;
}