html {
    font-size: 16px;
}

body {
    margin: 0;
    height: 98.2vh;
}

header {
    position: relative;
    left: 0;
    width: 100vw;
    height: 125px;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', Arial;
}

a {
    text-decoration: none;
}

header div {
    display: flex;
    align-items: center;
}

#header-top {
    position: relative;
    bottom: -13px;
}

#header-top-left {
    position: relative;
    left: -62px;
}

#header-top-left img {
    transform: scale(0.5);    
}

#header-top-right {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

#searchbar {
    width: 580px;
    height: 43px;
    outline: none;
    border: none;
    border-radius: 25px;
    box-shadow: -0.5px 1px 5px rgb(200, 200, 200);
    padding-right: 90px;
    padding-left: 20px;
    font-size: 1rem;
}

#searchbar:hover {
    box-shadow: -0.5px 1px 11px rgb(200, 200, 200);
}

#searchbar-icons {
    position: relative;
    right: 17.5%;
}

#searchbar-icons:hover {
    cursor: pointer;
}

#pipe {
    height: 25px;
    border-left: solid lightgray 1px;
}

#header-top {
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
}

ul {
    display: flex;
    list-style: none;
}

#apps-button {
    height: 40px;
    width: 40px;
    padding: 0;
    border: none;
    background: none;
}

#apps-button:hover {
    background-color: rgb(238, 238, 238);
    border-radius: 50%;
    cursor: pointer;
}

#apps-button:active {
    background-color: rgb(232, 232, 232);
}

#sign-in {
    color: white;
    background-color: #1a73e8;
    padding: 10px 28px;
    border-radius: 4px;
    font-size: 0.85rem;
}

#sign-in:hover {
    background-color: #1c7eff;
}

#sign-in:active {
    background-color: rgb(74, 153, 255);
}

#header-bottom {
    position: relative;
    left: 132px;
    bottom: -8px;
    width: 710px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-bottom a {
    margin: 0 12px;
    color: rgb(100, 100, 100);
    font-size: 0.85rem;
    display: flex;
}

#header-bottom a:active {
    color: #1a73e8;
}

#header-bottom img {
    height: 18px;
    width: 18px;
    margin-right: 3px;
}

#all-link {
    color: #1a73e8 !important;
}

#horizontal-line {
    position: relative;
    top: 8px;
    left: 15px;
    display: flex;
    flex-direction: flex-column;
    width: 32px;
    border: 2px solid #1a73e8;
}

#tools-button {
    border: 1px solid white;
    background: none;
    padding: 5px 10px;
    color: rgb(100, 100, 100);
    font-size: 0.85rem;
}

#tools-button:hover {
    border: 1px solid lightgray;
    border-radius: 2px;
    background-color: rgb(248, 248, 248);
    color: black;
    cursor: pointer;
}

#header-bottom-right {
    position: relative;
    bottom: 3px;
}

footer {
    position: sticky;
    left: -10px;
    top: 100%;
    width: 100vw;
    height: 106px;
    background-color: rgb(242, 242, 242);
    color: #777;
    font-family: Arial;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer div {
    position: relative;
    left: 165px;
    height: 45px;
}

footer ul {
    align-items: center;
    padding: 0;
    margin: 12px;
}

#footer-bottom ul {
    justify-content: space-between;
    width: 290px;
}

footer a {
    color: #777;
}

footer a:hover {
    color: #333;
}

#pipe-footer {
    display: inline-block;
    height: 22px;
    border-left: 1px solid #ccc;
    margin: 0 16px;
}   

#location {
    color: #444;
    font-weight: bold;
}

#bullet {
    display: inline-block;
    transform: scale(2.4);
    color: #777;
    margin-right: 7px;
}

#separator {
    display: block;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 188px;
    width: 610px;
}

#results-stats {
    font-family: Arial;
    font-size: 0.87rem;
    color: #777;
}

.result {
    font-family: Arial;
    margin-bottom: 22px;
    margin-top: 8px;
}

.result-anchor {
    display: flex;
    flex-direction: column; 
}

.result-anchor {
    font-size: 0.9rem;
}

cite {
    color: #333;
    font-style: normal;
}

.result-link-right {
    color: #666;
}

.result-anchor h1 {
    margin-top: 7px;
    margin-bottom: 5px;
    font-size: 1.3rem;
    font-weight: 200;
    color: rgb(32, 13, 171);
}

.result-anchor h1:hover {
    text-decoration: underline;
}

.result-relevant-content {
    margin: 0;
    font-size: 0.87rem;
    color: #555;
    line-height: 160%;
}

.result-relevant-content strong {
    color: #666;
}